{{ with .Site.Params.disqus }}
<div id="disqus_thread"></div>
<script type="text/javascript">

(function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost")
        return;

    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    var disqus_shortname = '{{ . }}';
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<a href="https://px.a8.net/svt/ejp?a8mat=2TIPOP+5YC2K2+1UMC+63H8H" target="_blank" rel="nofollow">
<img border="0" width="350" height="160" alt="" src="https://www21.a8.net/svt/bgt?aid=170514313360&wid=001&eno=01&mid=s00000008634001024000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=2TIPOP+5YC2K2+1UMC+63H8H" alt="">


<a href="https://px.a8.net/svt/ejp?a8mat=2TKRDK+2TT582+FOQ+BXYE9" target="_blank" rel="nofollow">
<img border="0" width="100" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=170609816171&wid=001&eno=01&mid=s00000002033002006000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=2TKRDK+2TT582+FOQ+BXYE9" alt="">

<script language="javascript" src="//ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=3345110&pid=884671127"></script><noscript><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3345110&pid=884671127" target="_blank" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3345110&pid=884671127" border="0"></a></noscript>
